@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600');
@media screen and (min-width:300px) and (max-width:800px) 
{
body{font-size:0.8em;}
sidebar{display:none;}
img{max-width:100%;}
#porlomio
{
	border-color:#4ecca3;
	border-style: solid;
	border-width: 2px;
	margin-left: 50px;
}
}
body
{
	background: #393e46;
	padding: 0;
	margin: 0;
}
nav
{
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #4ecca3;
}
ul
{
	text-align: center;
	padding: 0;
	margin: 0;
}
li
{
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
}
li a
{
	text-decoration: none;
	color:#fff;
	background-color: #368f73;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;	
	border-style:solid;
	border-width:2px;
	border-color: #368f73 ;
	border-radius:4px;
	padding:2px;
}
li a:hover
{
	border-style:solid;
	border-color: #368f73 ;
	background-color: #4ecca3;
	color: #fff;
}
#porlomio
{
	border-color:#4ecca3;
	border-style: solid;
	border-width: 2px;
	margin-left: 400px;
}
h2
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 55px;
	color:#fff;
	margin-left: 540px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 55px;
	color:#fff;
	text-align: center;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}
h4
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	color:#fff;
	text-align: center;
	margin-left: 595px;
	margin-right: 595px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #4ecca3;
	border-radius: 3px;
	text-decoration: none;
	text-overflow: none;
}
#ig
{
	text-decoration: none;
}
#tw
{
	text-decoration: none;
}
#yt
{
	text-decoration: none;
}
#ig :hover
{
	text-decoration: none;
	background:
	linear-gradient( #400080, transparent),
  	linear-gradient(200deg,#d047d1,#ff0000,#ffff00);
}
#tw :hover
{
	text-decoration: none;
	background-color: #0084b4;
}
#yt	:hover
{
	text-decoration: none;
	background-color: #ff0000;
}
#tone
{
	width: 15%;
	height: 15%;
	margin-left: 585px;
}
#footer
{
	text-align:center;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	background-color:#4ecca3;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	padding:30px;
	padding-bottom:3px;
	padding-top:0px;
}
#footersmall
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:13px;
}
#fw
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:13px;
	margin:0px;
}
#github
{
	width:25px;
	height:25px;
	margin-right:5px;
	margin-top:7px;
}
#link
{
	width:25px;
	height:25px;
	text-decoration:none;
}
p
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color:#fff;
	margin-left: 55px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#tontext
{
	max-width: 300px;
	text-align: center;
	vertical-align: middle;
	margin-left: 540px;
	margin-top: 20px;
}